<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCi7_rajLEzai7vaxru9eJw9eRpinsOlPo</string>
	<key>GCM_SENDER_ID</key>
	<string>603670153008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ptw.oneword</string>
	<key>PROJECT_ID</key>
	<string>one-word-e92cb</string>
	<key>STORAGE_BUCKET</key>
	<string>one-word-e92cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603670153008:ios:29cb6917e51e6cc84aeaf5</string>
</dict>
</plist>